.container {
  width: 384px;
  padding: 0px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(112, 122, 138, 0.5), 0px 4px 24px rgba(175, 186, 204, 0.4);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  height: 15px;
  margin-bottom: 4px;
  color: var(--neutral-80);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 15px;
}

.form .text-field {
  height: 46px;
  margin: 0px 0px 16px 0px;
  padding-left: 4px;

  border: 1px solid #C8D1E0;
  box-sizing: border-box;
  border-radius: 4px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.add-button {
  margin-top: 8px;
  margin-right: 12px;
  height: 36px;
  width: 36px;
  border-radius: 4px;
  color: var(--primary);
  border: 1px solid #C8D1E0;
}

.skip-button {
  margin-top: 8px;
  margin-right: 12px;
  height: 36px;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 15px;
  color: var(--primary);
  border: 1px solid #C8D1E0;
}

.send-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  width: 122px;
  height: 36px;
  border-radius: 4px;

  background-color: var(--primary);
  color: #FFFFFF;

  border-style: none;

  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 15px;

}
